{% extends 'loginbase.html' %}
{% block title %}About{% endblock title %}
{% block form %}

<div class="Card p-3">
    <h1>About StarkMedia</h1>
    <p>StarkMedia is a social media platform that connects people from all over the world. Our mission is to bring people together, share ideas, and create a community where everyone can express themselves freely.</p>
    <p>Founded in 2023, StarkMedia has quickly grown to become one of the leading social media platforms, with millions of users worldwide. We are committed to providing a safe and inclusive environment for all our users.</p>
    <p>At StarkMedia, we believe in the power of connection. Whether you're looking to reconnect with old friends, make new ones, or share your thoughts and experiences, StarkMedia is the place for you.</p>
    <p>Join us today and be part of the StarkMedia community!</p>
</div>
{% endblock form %}